// app global css in SCSS form
$primaryColor1: #ff6b6b;
$secondaryColor1: #ffdd67;
$accentColor1: #ba7edd;
$txtColor1: #2f4858;
$bgColor1: #f8f8f8;

body {
  padding: 0 15rem;
  background-color: $bgColor1;
  color: $txtColor1;

  @media (max-width: 600px) {
    padding: 0 1rem;
  }
}

body::-webkit-scrollbar {
  width: 0;
}

.q-page {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 8rem) !important;
  scroll-snap-align: end;
}
